.mui-bar{height: 1.531rem;font-size: 0.562rem;color: #969696;}
.my_card{width: 100%;height: auto;padding-top: 0.625rem;padding-bottom: 0.625rem;padding-left: 1.093rem;background: white;}
.my_tabl{color: #323232;}
.my_tabr{margin-left: 0.312rem;}
.my_tabx{font-size: 0.375rem;}
.mui-tab-view-cell span{width: 0.312rem;height: 0.312rem;margin-left: 0.156rem;}

.my_tishi{width: 0.031rem;height: 10.218rem;border: 1px solid #C8C8C8;margin-left: 1.093rem;margin-top: 1.406rem;float: left;}
.my_tishiy{width: 0.312rem;height: 0.312rem;background: #04d909;position: relative;left: -0.156rem;margin-bottom: 2.812rem;border-radius: 50%;}
.my_tishix{margin-top: 3rem;}
.my_tishib{background: #ffb441;}
.my_tishih{background: #f50000;}
.my_tishid{background: #C8C8C8;}

.my_appr{float: left;width: 8.593rem;height: 7.968rem;margin-top: 0.625rem;margin-left: 0.625rem;}
.appr_card{width: 100%;height: 2.343rem;background: white;margin-top: 0.468rem;border-radius: 0.031rem;}
.appr_cl{width: 1.25rem;height: 1.25rem;border-radius: 50%;background: #C8C8C8;margin-top: 0.312rem;margin-left: 0.312rem;float: left;}
.appr_shm{float: left;margin-top: 0.281rem;margin-left: 0.312rem;}
.appr_fn{float: right;margin-right: 0.625rem;margin-top: 0.625rem;font-size: 0.5rem;}
.appr_fnx{color: #04D909;}
.appr_fnb{color: #ffb441;}
.appr_fnh{color: #f50000;}
.appr_fnd{color: #C8C8C8;}
.appr_shuom{height: 3.437rem;}
.mine_yuanyin{width: auto;margin-left: 1.875rem;}

/*撤销键设置*/
.per_zx{width: 9.531rem;height: 1.25rem;background: #DCDCDC;border-radius:0.062rem;margin: 0 auto;position: relative;top: 2.5rem;margin-right: 1.093rem;}
.per_zhuxiao{color: #969696;border-radius: 0;display: inline-block;width: 9.531rem;line-height: 0.937rem;background: #dcdcdc;font-size: 14px;text-align: center;border: 0;}
